/* STYLING IS MOBILE FIRST */

html {
    box-sizing: border-box
}

body, #root{
    height: 100vh;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    overflow-y:none;
}

.allContents{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    background-color:#22515b;
    position:fixed;
    width: 100%;
    height: 2rem;
    align-items: center;
}
a{
    text-decoration: none;
}
header a{
    color:white;
    text-decoration:none;
    margin-left:5px;
}

header a:hover{
    color:palevioletred;
}


footer{
    display:flex;
    background-color:#22515b;
    justify-content: center;
    color: white;
    height: 40px;
    width: 100%;
    margin-top:auto;
}

.products{
    display:flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 100px 20px;

}


.product img{
    height: 10rem;
    width: 7rem;
}

.productPrice{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1px 2px;
}


.products li{
    margin:20px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.product p{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.product a:hover{
    border:2px solid black;
}

.productPrice div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.productPrice button{
    background-color:#22515b;
    color:white;
    border-radius:8px;
}

.productPrice button:hover{
    border:3px solid palevioletred;
}

.filter{
    color: red;
}