/* STYLING IS MOBILE FIRST */

html {
    box-sizing: border-box
}

body, #root{
    height: 100vh;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    overflow-y:none;
}

.allContents{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    background-color:#22515b;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 2rem;
    align-items: center;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
header a{
    color:white;
    text-decoration:none;
    margin-left:5px;
}

header a:hover{
    color:palevioletred;
}

main{
    margin-top: 4rem;
}

footer{
    display:flex;
    background-color:#22515b;
    justify-content: center;
    color: white;
    height: 40px;
    width: 100%;
    margin-top:auto;
}

.products{
    display:flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 10px;

}


.product img{
    height: 10rem;
    width: 7rem;
}

.productPrice{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin:1px 2px;
}


.products li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.product p{
    color:black;
    font-family: 'Kanit', sans-serif;
}

.product a:hover{
    border:2px solid black;
}

.productPrice div{
    font-family: 'Kanit', sans-serif;
}

.productPrice button{
    background-color:#22515b;
    color:white;
    border-radius:8px;
}

.productPrice button:hover{
    border:3px solid palevioletred;
}


.filter{  
    border-bottom:1px solid #22515b;
    border-top:1px solid #22515b;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    height: 15vh;
   
}

.filter select{
    font-family: 'Pacifico', cursive;
    border:2px solid #22515b;
}

.filter button{
    margin-top:2rem;
    background-color: #22515b;
    color: white;
    height: 3rem;
    border-radius:.5rem;
}

header nav ul{
    display:flex;
    flex-direction: row;
    list-style: none;
}

header nav ul .cart{
  margin-left:3rem ;
}

.detailsComponent{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detailsComponent hr{
    border: 1px solid #22515b;
    width: 100%;
}

.detailsComponent .moreInfo{
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.cartComponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyCart, .notEmptyCart{
   height: 100%;
}

.cartList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    align-content: center;
}

.cartList img{
    height: 20rem;
    width: 15rem;
}

.cartList button{
    background-color:rgb(255, 0, 0);
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
}

.cartTotal{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: larger;
    font-weight: bold;
    background-color:  rgba(101, 184, 177, 1);
}
.cartTotal button{
    background: orange;
    border:1px solid black;
    border-radius: 3px;
}

#checkoutForm ul{
    list-style: none;
}

#checkoutForm{
    border: 2px solid #22515b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#checkoutForm button{
    width: 100px;
    background: orange;
    border:1px solid black;
    border-radius: 4px;

}




@media only screen and (min-width: 768px) {
    /* For desktop: */
  
.filter{
   
    border-bottom:1px solid #22515b;
    border-top:1px solid #22515b;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    height: 10vh;
   
    }

    
.filter button{
    background-color: #22515b;
    color: white;
    margin-bottom:20px;
    border-radius:.5rem;
    }

    
.products{
    display:flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin: 100px;

}


.product img{
    height: 20rem;
    width: 15rem;
}

.productPrice{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin:5px 8px;
}

.product p{
    color:black;
    font-family: 'Kanit', sans-serif;
}

.product a:hover{
    border:2px solid black;
}

.productPrice div{
    font-family: 'Kanit', sans-serif;
}

.productPrice button{
    background-color:#22515b;
    color:white;
    border-radius:8px;
}

.productPrice button:hover{
    border:3px solid palevioletred;
}


.cartComponent{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 100px;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

 }